* {
    background-color: grey;
}

body {
    display: flex;
    justify-content: start;
}

h1 {
    text-align: center;
    border-bottom: 1px solid black;
}
img {
    max-width: 20vh;
    max-height: 40vh;
    display: block;
}

button {
    border: none;
    display: flex;
}