* {
    background-color: grey;
}

body {
    display: flex;
    justify-content: start;
}

.book {
    display: grid;
    justify-items: start;
}
h1 {
    text-align: center;
    border-bottom: 1px solid black;
}
img {
    max-width: 20vh;
    max-height: 40vh;
    justify-self: end;
    align-self: start;
}

button {
    border: none;
    display: flex;
}